*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#box{
    height: 100px;
    width: 100px;
    background-color: teal;
}

#circle{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
}